{% extends 'base.html.twig' %}

{% block title %}Groupomania - Créer un nouveau contenu{% endblock %}
{% block javascript %}
    <script src="{{ asset('scripts/create_content.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div class="header-nav">
        {{ include("partials/header.html.twig") }}
        {{ include("partials/navbar.html.twig") }}
    </div>
    <main class="create">
        <h2>Création d'un nouveau contenu</h2>
        <p>Afin de mettre en ligne du contenu sur le réseau, merci de renseigner le formulaire ci-dessous.</p>
        {{ form_start(form, {'attr': {'class': 'form-style'}}) }}
            <div class="create__form row">  
			    <div class="col-md-12 col-lg-6 col-xl-4">
                    {{ form_row(form.topic, {'label': 'Quel est le sujet de votre contenu?'}, 
                        {'attr': {'class': 'form-group'}}
                    )}}
                    {{ form_row(form.title, {'label': 'Titre'}, 
                        {'attr': {'class': 'form-group'}}
                    )}}
                    <fieldset>
                        <legend>Que souhaitez vous partager?</legend>
                        {{ form_widget(form.type) }}
                        <div id="mediaPath">
                            <div class="row form-group" id="mediaPathFile">
                                {{ form_row(form.mediaPathFile, {'label': 'Sélectionnez le fichier à transférer'},
                                    {'attr': {'class': 'form-group'}}
                                    )}}
                            </div>
                            <div id="mediaPathUrl">
                                {{ form_row(form.mediaPathUrl, {'label': 'Indiquez le lien de la vidéo à partager'},
                                    {'attr': {'class': 'form-group'}}
                                )}}
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-8">
                    {{ form_row(form.message, {'label': 'Votre contenu'}, 
                        {'attr': {'class': 'form-group'}}
                    )}}
                </div> 
            </div>
            <div class="form-style__buttons form-style__buttons--center">
                <button id="create" type="submit" class="btn btn--valid" >Créer un nouveau contenu</button>
                <button id="restore" type="button" class="btn btn--cancel">Revenir à mon espace personnel</button>
            </div>  
        {{ form_end(form) }}
    </main> 
    {{ include("partials/footer.html.twig") }}
{% endblock %}
