<table>
    <tr>
        <th colspan="2">Utilisateur: {{ user.id }}</th>
    </tr>
    <tr>
        <td>Nom d'utilisateur</td>
        <td>{{ user.username }}</td>
        <td rowspan="3">
            {% if app.user.username == user.username %}
                <i class="fas fa-exclamation-triangle"> Vous ne pouvez pas supprimer ce compte car il est actuellement utilisé!</i>
            {% else %}
                <button class="btn btn--valid" id="delete_button" data-url="{{ path('admin_deleteUser',{'id':user.id}) }}"><i class="fas fa-trash-alt">Supprimer ce compte</i></button>
            {% endif %}   
        </td>
    </tr>
    <tr>
        <td>Adresse email</td>
        <td>{{ user.email }}</td>
    </tr>
    <tr>
        <td>Date d'inscription</td>
        <td>{{ user.subscribeAt | date("d/m/Y") }}</td>
    </tr>
    <tr>
        <td rowspan="{{user.roles | length}}">Droits accordés</td>
        <td>
            {% if user.roles | length == 0 %}
                L'utilisateur ne dispose d'aucun droit. Il ne peut plus accéder au réseau social de l'entreprise.
            {% endif %}
            <ul>
                {% for role in user.roles %} 
                    {% if role == "ROLE_USER" %}
                        <li>Droit d'utilisation normal</li>
                    {% elseif role == "ROLE_ADMIN" %}
                        <li>Droit d'administration</li>
                    {% endif %}
                {% endfor %}  
            </ul>
        </td> 
        <td rowspan="{{user.roles | length}}">
            {% if app.user.username == user.username %}
                <i class="fas fa-exclamation-triangle"> Vous ne pouvez pas modifier vos propres droits!</i>
            {% else %}
                <div class="form-group">
                    <label for="roles" method="POST"><i class="fas fa-tools"></i>Modifier les droits</label>
                    <select name="roles" id="roles" class="form-control" data-url="{{ path('admin_modifyRoles',{'id':user.id}) }}">
                        <option value="">Choisissez un status</option>
                        <option value="admin">Administrateur</option>
                        <option value="use">Utilisation normale</option>
                        <option value="block">Compte bloqué</option>
                    </select>
                </div>
            {% endif %}  
        </td>
    </tr>
</table>
